header[role=banner]
    background-color: $primary
    color: white
    .logo
        img
            @include media-breakpoint-up(lg)
                height: 45px
                widows: auto
    button
        color: white
