.block-pagemooc
    .grid 
        article
            .media
                aspect-ratio: 1
                border-radius: 50%
                max-width: 250px
                overflow: hidden
                img
                    aspect-ratio: 1

.block-organizations,
.organization
    .media
        img
            mix-blend-mode: darken

.organization-meta
    .logo
        img
            mix-blend-mode: darken
.lead
    color: $color-accent

.pagefind-ui__toggle
    @include media-breakpoint-up(desktop)
        padding-left: 0
        margin-right: -30px
        &.toggle-icon::after
            font-size: 3rem

*:focus-visible
    outline: none
    background: $color-background-alt
    color: $color-text !important