h1
    font-family: $font-family-sans-serif-condensed
    font-weight: 400
    @include media-breakpoint-up(lg)
        font-size: px2rem(60)

.blockquote
    border-left: 5px solid $light
    padding-left: $grid-gutter-width
